@import '../common/theme/index';
@import './variables';

$filter-height: 32px;
$item-height: 32px;
$menu-height: 24px;
.server-panel {
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  width: $server-panel-width;
  border-right: 1px solid $global-border-color-base;
  overflow: hidden;

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    height: $filter-height;
    width: $server-panel-width;
    border-bottom: 1px solid $global-border-color-base;
    display: flex;

    .el-input__inner {
      height: $filter-height + 1;
      border-radius: 0px;
      background-color: $global-bg-color-secondary;

    }

    .el-input__icon {
      line-height: $filter-height;

    }
  }

  .menu {
    position: absolute;
    height: $menu-height;
    left: 0;
    bottom: 0;
    width: $server-panel-width;
    border-top: 1px solid $global-border-color-base;

    .el-button-group {
      margin-top: -1px;

      .el-button {
        padding: 4px 6px;
        border-radius: 0 !important;

        .iconfont {
          font-size: 12px;
        }
      }
    }
  }

  .server-list {
    position: absolute;
    top: $filter-height;
    left: 0;
    bottom: $menu-height;
    width: $server-panel-width;
    overflow-x: hidden;
    overflow-y: auto;

    .item {
      height: $item-height;
      line-height: $item-height;
      color: $global-font-color-secondary;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $global-bg-color-hover;
      }

      .el-col {
        padding: 0 0 0 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .el-button {
        margin-left: 1px;
        color: $global-font-color-secondary;

        &:hover {
          color: $global-main-color;
        }

        .iconfont {
          font-size: 12px;
        }
      }

      &.is-active {
        background-color: $global-bg-color-hover;
        color: $global-font-color;

        &:hover {
          background-color: $global-bg-color-hover;
        }
      }
    }
  }
}
