@import '../common/theme/index';
@import './variables';

$filter-height: 32px;
$menu-height: 24px;
.server-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $server-panel-width;
  border-right: 1px solid $global-border-color-base;
  overflow: hidden;

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    height: $filter-height;
    width: $server-panel-width;
    border-bottom: 1px solid $global-border-color-base;
    display: flex;

    .el-input__inner {
      height: $filter-height + 1;
      border-radius: 0px;
      background-color: $global-bg-color-secondary;

    }
    .el-input__icon {
      line-height: $filter-height;

    }
  }

  .menu {
    position: absolute;
    height: $menu-height;
    left: 0;
    bottom: 0;
    width: $server-panel-width;
    border-top: 1px solid $global-border-color-base;

    .el-button-group {
      margin-top: -1px;

      .el-button {
        padding: 4px 6px;
        border-radius: 0 !important;

        .iconfont {
          font-size: 12px;

        }
      }
    }
  }

  .server-list {
    position: absolute;
    top: $filter-height;
    left: 0;
    bottom: $menu-height;
    width: $server-panel-width;
    overflow-x: hidden;
    overflow-y: auto;

    .item {
      padding: 5px 20px;
      height: 25px;
      line-height: 25px;
      color: $global-font-color-secondary;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: $global-bg-color-hover;
      }

      .el-button {
        font-size: 10px;
        color: $global-font-color-secondary;
        float: right;
      }

      &.is-active {
        background-color: $global-bg-color-hover;
        color: $global-font-color;

        &:hover {
          background-color: $global-bg-color-hover;
        }

        .el-button {
          color: $global-font-color;
        }
      }
    }
  }
}
