@import '../common/theme/index';
@import './variables';

$header-height: 32px;
$menu-height: 24px;
.value-panel {
  position: absolute;
  top: 0;
  left: $server-panel-width + $key-panel-width;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    border-bottom: 1px solid $global-border-color-base;

    .el-button {
      padding: 0 15px;
      height: $header-height;
      line-height: $header-height;
      border-radius: 0;
    }

    .el-select {
      margin-top: -1px;
      float: right;

      .el-input {
        .el-input__inner {
          height: $header-height + 1;
          width: 80px;
          line-height: $header-height + 1;
          border-radius: 0;

        }

        .el-select__caret {
          line-height: $header-height;
        }
      }
    }
  }

  .content {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;

    textarea {
      font-family: Menlo, Consolas, "Courier New", Courier, 'Source Sans Pro', Arial, sans-serif;
      font-size: 14px;
    }

    .data-key {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: $data-key-width;
      border-right: 1px solid $global-border-color-base;
      overflow: auto;

      .item {
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        font-size: 13px;
        color: $global-font-color-secondary;
        border-bottom: 1px solid $global-border-color-secondary;
        cursor: pointer;

        &.item-list {
          padding: 0;
          .col-index {
            border-right: 1px solid $global-border-color-secondary;
            text-align: center;
          }
          .col-ele {
            padding: 0 15px;
          }
        }

        &.is-active {
          background-color: $global-bg-color-hover;
          color: $global-font-color;
        }
      }
    }

    .data-value {
      position: absolute;
      top: 0;
      left: $data-key-width;
      right: 0;
      bottom: 0;
    }

    .el-textarea {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .el-textarea__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        resize: none;
      }
    }
  }

  .menu {
    position: absolute;
    height: $menu-height;
    left: 0;
    bottom: 0;
    width: $key-panel-width;
    border-top: 1px solid $global-border-color-base;

    .el-button-group {
      margin-top: -1px;

      .el-button {
        padding: 4px 6px;
        border-radius: 0 !important;

        .iconfont {
          font-size: 12px;

        }
      }
    }
  }
}
